* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {

    color:white;
    background-image:url("/img/background.png") ;
}

main{
    padding: 30px;
    margin: 0 auto;
    width: 80%;
}

main h1{
    text-align: center;
}
footer{
    color:#fff;
    background:#333333;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.navbar {
    height: 100px;
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    line-height: 100px;
    float: left;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 0 20px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    line-height: 100px;
    font-size: 30px;
    border: none;
    outline: none;
    color: white;
    padding: 0 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #111;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #AAA;
    min-width: 225px;
    z-index: 1;
}

.dropdown-content a {
    line-height: 50px;
    font-size:16px;
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ff0000;
    color:white
}

.dropdown:hover .dropdown-content {
    display: block;
}
.navbar .active{
    background: red;
}
.flag{
    float: right !important;
}

.flag img{
    height:50px;
    width: auto;
}

p{
    margin: 16px 0;
}
hr{
    border:solid 2px red;
}
form{
    text-align: left;
}
.contact h2{
    border-bottom: 2px solid white;
}
.contact img{
    padding:15px;
    background: white;
    height: 300px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.programs ol,.programs ul{
    padding:20px;
}
.programs h2{
    border-bottom: 2px solid white;
}
.programs h4{
    padding-top:10px;
    color: #f99;
}
.programs img{
    padding:15px;
    background: white;
    height: 300px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.index ol,.index ul{
    padding:20px;
}
.index h4{
    padding-top:10px;
    color: #f99;
}
.index img{
    padding:15px;
    background: white;
    height: 300px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#output{
    text-align: center;
}


.photo {
    margin-left:auto;
    margin-right:auto;
    width: 700px;
    background: black;
    padding: 10px;
    opacity: 0.65;
    border-radius: 5px;
    border: 1px solid #f00;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transform: rotate(5deg) scale(0.8);
    transition: 0.3s all ease-in-out;
    align-items: flex-start;
}
.photo img {
    flex-basis: 100%;
    width: 500px;
}
figcaption {
    margin-top: 10px;
    font-size:20px;
    font-family: 'Kalam', cursive;
    color:white;
}
.photo:nth-child(even) {
    transform: rotate(-3deg) scale(0.8);
}

.photo:hover {
    opacity: 1;
    transform: scale(1);
}
input,textarea{
    margin:20px;
}
input[type=button]{
    border:0;
    border-radius: 30px;
    padding:20px;
    color:white;
    background: red;
    font-size:16px;
    text-align: center;
}